  #productHeader {
    padding: 0 1.25rem;
    text-align: center;
    font-weight: 600;
    color: var(--foreground);
    margin: 0 auto;
    max-width: 80dvw;
    font-size: var(--default-font-size);
  }

  #productHeader ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (width <= 768px) {
    #productHeader {
      padding: 0;
      text-align: center;
      font-weight: 600;
      color: var(--foreground);
      margin: 0 auto;
      max-width: 100dvw;
    }
  }