.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (width <= 768px) {
    .contactForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }
  }

  .contactForm label {
    font-size: var(--label-font-size);
    font-weight: 600;
  }

  .contactForm input,
  .contactForm textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--foreground);
    box-shadow: var(--shadow);
    color: #000;
  }

  .contactForm textarea {
      min-height: 20dvh;
  }

  .contactForm input:focus,
  .contactForm textarea:focus {
    box-shadow: var(--shadow-hover);
  }

  .contactForm button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--active-background);
    box-shadow: var(--shadow);
    color: var(--foreground);
    margin-bottom: 5rem;
  }

  .contactForm button:hover {
    box-shadow: var(--shadow-hover);
  }